.colors {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: white;
  padding: 2em;
}
#laces{
  cursor: pointer;
}
#outside1{
    cursor: pointer;
}
#outside2{
    cursor: pointer;
}
#outside3{
    cursor: pointer;
}
#inside{
    cursor: pointer;
}
#solebottom{
    cursor: pointer;
}
#soletop{
    cursor: pointer;
}


#color1{
  width: 2em;
  height: 2em;
  border-radius: 50%;
  margin-bottom: 1em;
  cursor: pointer;
  background-color: red;
  /* display: none;
  position: absolute;
  top: 100%; */
}
#color2{
  width: 2em;
  height: 2em;
  border-radius: 50%;
  margin-bottom: 1em;
  cursor: pointer;
  background-color: green;
  /* display: none;
  position: absolute;
  top: 100%; */
}
#color3{
  width: 2em;
  height: 2em;
  border-radius: 50%;
  margin-bottom: 1em;
  cursor: pointer;
  background-color: blue;
  /* display: none;
  position: absolute;
  top: 100%; */
}
#color4{
  width: 2em;
  height: 2em;
  border-radius: 50%;
  margin-bottom: 1em;
  cursor: pointer;
  background-color: yellow;
  /* display: none;
  position: absolute;
  top: 100%; */
}
#color5{
  width: 2em;
  height: 2em;
  border-radius: 50%;
  margin-bottom: 1em;
  cursor: pointer;
  background-color: orange;
  /* display: none;
  position: absolute;
  top: 100%; */
}

nav {

  position: absolute;
  width: 100%;
  height: 5%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  

}

.logo {
  width: 11em;
  padding-left: 3em;
}

.shoppingCart 
{
  width: 4em;
  padding-right: 3em;
}


body{
  background-color: #FFFFFF;
  margin: 0;
}




.text {  
  color: #000000;
  margin-bottom: 25px;
  font-size: 20px;
  letter-spacing: 2px;
}

.text img{
  padding-bottom: 5em;
}


.progress-bar-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.8); */
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress-bar-container img {
  padding-bottom: 2em;
}

#progress-bar {
  width: 30%;
  margin-top: 0.5%;
  height: 2%;
  appearance: none;


}

#progress-bar::-webkit-progress-bar {
  background-color: #000000;
}

#progress-bar::-webkit-progress-value {
  background-color: #64F243;
}


label {
  color: white;
  font-size: 2rem;
}


#colorOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  /* left: 50%; */
  /* transform: translateY(-50%); */
  background-color: white;
  width: 100%;
  bottom: 0%;
  padding-bottom: 3em;
}

#colorOptions div{
  margin-bottom: 0;
  
}

#colorsMenu {
  display: flex;
  flex-direction: row;
  gap: 3em;
}

